
/**------Css Global-------*/
    body,html{
        margin: 0;
        padding: 0;
        background: #e1e1e1;
    }
    a, h1, h2, h3, h4, h5, h6, span{

        font-family: 'Roboto', sans-serif;/* font roboto*/
        color:#4e4e4e;
        text-decoration:none /*enlever le souligner des liens*/
    }
    .center{
        text-align: center;
    }
    .clear{
        clear:both;
    }
    p{
        line-height: 2;
        letter-spacing: 0.2px;
        font-weight: 300;

    }
/*------PreHeader------*/

    .preHeader{
        height : 45px;
        ligne-height :45px;
        vertical-align: middle;
        -moz-box-shadow: 10px 10px 5px #ebebeb;
        -webkit-box-shadow: 10px 10px 5px #ebebeb;
        -o-box-shadow: 10px 10px 5px #ebebeb;
        box-shadow: 10px 10px 5px #ebebeb;
    }
    .linkContainer{
        float: right;
        margin-right: 7%;
        padding-top: 0.6%;
    }

    .preHeader a{
        font-size: 15px;
        font-weight: 300;
        padding: 0 10px;
        transition-duration:0.2s ; /*durée annimation*/

    }
    .preHeader a:hover{
        color :#0b9444;
        font-weight: bold;
    }
    header{
        background-color: #ffffff;
    }

/*-------Header-------*/

    .header{
        width: 80%;
        margin:0 auto;
        height: 100px;
        line-height: 120px;

    }
    .logo{
        width :140px;
        vertical-align: middle;
    }
    .menu{
        float: right;
    }
    .link{
        font-size: 17px;
        font-weight: 300;
        vertical-align: middle;
        padding: 20px;

    }
    /*.menu a:hover{
        color :#0b9444;
        font-weight: bold;
    }*/
    .link:hover, .link.active{
        color :#0b9444;
        font-weight: bold;

    }
/*-------Banner-------*/
    .banner{
        height: 170px;
        line-height: 170px;
        position: relative;
       background-image: url('images/logo2.png') ;

    }
    .bannerText{
        display: inline-block;
         vertical-align: middle;
         line-height: 1;
         margin-left:11%;
    }
    .bannerText h1{

        color: #ffffff;
        font-weight: 500;
        font-size: 27px;
        margin: 0;
    }
.bannerText h2{
    font-style: italic;
    color: #ffffff;
    margin: 5px 0 0 0;
    font-size: 17px;
    font-weight: 300;

}
    .starsIcons{
        position: absolute;
        left: 20%;
        height: 100%;
    }
    .mainBlock{
        width: 70%;
        background-color: #fff;
        margin: 70px auto;
        padding: 20px 60px;
    }
    .sectionTitle{
        font-size: 20px;
        font-style: italic;
        color :#0b9444
    }
    .logo3, .appart2{
        width: 100%;
    }
    .articleText{
        width: 100%;
        float: left;
        font-size: 20px;
        font-style: italic;
        margin: 20px 0 60px;
    }

    .btnShowIt{
        color:#ffffff;
        background-color: #74ba16;/*vert*/
        font-size: 14px;
        padding: 15px 40px;
        border: 2px solid #74ba16;
        cursor: pointer;
        outline: none;
        font-weight: 400;
        transition-duration: 0.2s;
    }
    .btnShowIt:hover{
        color:#8cc63e;
        background-color: #ffffff;

    }
/*****NEWSLETTR ******/
    .newsletter{

        background-color: #74ba16;
        padding: 10px 0 40px;
        margin: 50px;
        background-image: url('images/logohome.png');
        background-repeat: no-repeat;
        background-position: bottom;
        /*background-position: center;*/
        background-size: 40%;
    }
    .newsletter h3{

        font-weight: 300;
        color: #fff;
        font-size: 23px;
    }
    .newsletter input{
        border: 1px solid #fff;
        /*background-position: center;*/
        width: 28%;
        height: 40px;
        padding: 0 20px;
        box-sizing: border-box;
        background-color: #74ba16;
        outline : none;
        vertical-align: top;
        color: #fff;
    }
.newsletter button {
    background-image: url('images/capture.png');
    background-repeat: no-repeat;
    background-position: center;

    background-size: 110%;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: #fff;
    outline : none;
    /*vertical-align: top;*/
    color: #fff;
    cursor: pointer;
}

/*--------Contact----*/
.contact{
    background-color: #282828;
    padding: 20px 0;
    text-align: center;
}
.ContactTitle{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 45px;
}
.contact input, .contact textarea{
    color: #cecece;
    outline: none;
    height: 20px;
    background: none;
    font-family: 'Roboto', sans-serif;
    padding: 12px 18px;
    border-radius: 3px;
    border: 2px solid #cecece;
    display: block;
    width: 40%;
    margin: 15px auto;
}

.btnSendMessage {
    margin-top: 15px;
    color: #ffffff;
    background-color: #74ba16;
    font-size: 14px;
    padding: 12px 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-weight: 400;
    transition-duration: 0.2s;
}
.btnSendMessage:hover {
    color:#cecece;
    background-color: #ffffff;
}
footer{
    text-align: center;
    font-weight: 400;
    color: #9b9b9b;
    margin-bottom: 25px;

}

/**********flexbox**********/
.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

.call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
}

@media (min-width: 900px) {
    .call-outs-container {
        display: flex;
        justify-content: space-between;
    }
}

.call-out:nth-child(1) {background-color: #ffffff;}
.call-out:nth-child(2) {background-color: #ffffff;}
.call-out:nth-child(3) {background-color: #ffffff;}
h2{
    text-align: center;
}


/***************************/
.column-layout {
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.main-column {
    flex: 3;
    order: 2;
}


/*****************************************/